.synth * {
	box-sizing: border-box;
}

.synth h2 {
	margin-top: 0;
}

.synth .info {
	margin-bottom: 10px;
}

.synth > .row {
	margin-bottom: 20px;
}

.synth .presets label {
	width: 100px;
}

.synth .options input {
	text-align: center;
	width: 100%;
}

.synth .curves .curve-container {
	background-color: #ccc;
	padding: 10px;
}

.synth .curves > div label {
	display: block;
}

.synth .curves > div .curve {
	display: block;
	width: 100%;
}

.synth .curves .presets {
	margin-bottom: 10px;
}

.synth .interaction button {
	display: block;
	padding: 10px 0;
	width: 100%;
}